[submodule "libultraship"]
	path = libultraship
	url = https://github.com/JRickey/libultraship.git
	branch = ssb64
[submodule "torch"]
	path = torch
	url = https://github.com/JRickey/Torch.git
	branch = ssb64
[submodule "decomp"]
	path = decomp
	url = https://github.com/robbienicol/ssb-decomp-re.git
	branch = rollback
